@import "variables/variables";
@import "nav";

/*---------------------------------*/
/*------------GENERALES------------*/
/*---------------------------------*/

::selection { 
    background: $color-oscuro; /*Color del fondo de lo seleccionado*/
    color: $color-blanco;/*Color de la letra seleccionada*/
}

body {
    margin: 0px auto;
    background-color: $color-blanco;
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: $color-oscuro; 
}

h2 {
    color: $color-vino;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.3rem;
    text-align: center;
    margin: 0;
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-size:1.15rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size:1rem;
    }
    h2 {
    font-size: 2.1rem
    }
}

.subrayado {
    border-bottom: solid 1.5px $color-oscuro;
    padding-bottom:4px;
}


a {
    text-decoration:none;
    text-transform: uppercase;
}

/*-------BOTONES-------*/

.botones {
    width: 120px;
    padding: 5px 8px;
    text-align: center;
    color: $color-oscuro;
    background-color: transparent;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        border: solid .1px $color-negro;
    }
    50%{
        border: solid .1px $color-blanco;
        color: $color-blanco;
    }
    100% {
        border: solid .1px $color-negro;
    }
}

.botones:hover{
    color: $color-blanco;
    background-color: $color-negro;
    border: solid 1px $color-negro;
    animation: pulseHover 1.3s infinite;
}

@keyframes pulseHover {
    0% {
        border: solid .1px $color-negro;
    }
    100% {
        border: solid .1px $color-negro;
    }
}

.boton-contacto {
    width: 100%;
    padding: 5px 8px;
    text-align: center;
    color: $color-oscuro;
    background-color: transparent;
    border-radius: 2px;
    color: $color-oscuro;
    border: solid .1px $color-oscuro;
    transition: all .3s ease-in-out;
}

.boton-contacto:hover {
    color: $color-blanco;
    background-color: $color-negro;
    border: solid 1px $color-negro;
}


@media (max-width: 480px) {
    .botones {
        width:100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
  .botones {
        width:70%;
    }
}

/*------------FOOTER------------*/

footer {
    padding-top:$padding+5;
    background-color: $color-negro;
    div {
        div {
            p {
                color:$color-blanco;
                margin-bottom:0;
                padding-bottom:0;
            }
            ul {
                margin-bottom:0;
                padding-bottom:0;
                li{
                    a{
                        svg{
                            fill: $color-blanco;
                        }
                        svg:hover {
                            fill:$color-vino;
                        }
                    }
                }
            } 
        }
    }
} 

/*-------GENERALES PAGES-------*/

.secciones-h1 {
    @include ancho-alto(100%,100%);
    color: $color-blanco;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    background-color: #000000a1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px) {
    .secciones-h1 {
        font-size:3rem;
    }
}

.secciones-h2 {
    color: $color-vino;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    margin-top: ($margin-top)+5;
}

@media (max-width: 480px) {
    .secciones-h2 {
        font-size:2.5rem;
    }
}

.secciones-box {
    max-width: 900px;
    margin: 10px auto;
}
@media (max-width: 480px) {

    .secciones-box {
        width: 100%;
        margin: 10px auto;
    }
}

/*-------------------------------*/
/*-------------INDEX-------------*/
/*-------------------------------*/

/*-------IMAGEN PRINCIPAL-------*/

.portada-imagen {
    height:90vh;
    max-width:100%;
    background-color:$color-negro;
    background-image:url(../media/portada-index.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
    .container-titulo {
        width: 100%;
        height: 100vh;
        display:flex;
        justify-content: end;
        align-items: center;

        .box-titulo {
            width: 50%;
            height: 50%;
            display:flex;
            justify-content: center;
            flex-direction:column;

            .titulo {
                width:100%;
                position: relative;
                height: 130px;

                .block {
                    width: 0%;
                    height: inherit;
                    background: $color-bordo;
                    position:absolute;
                    animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
                }

                h1 {
                    color: $color-blanco;
                    font-family: 'Big Shoulders Display', cursive;
                    font-size: 6.59rem;
                    text-transform: uppercase;
                    -webkit-animation: mainFadeIn 2s forwards;
                    -o-animation: mainFadeIn 2s forwards;
                    animation: mainFadeIn 2s forwards;
                    animation-delay: 1.6s;
                    opacity: 0;

                    span {
                        color:$color-bordo;
                    }
                }
            }
        
            .role {
                width:100%;
                position:relative;
                height: 30px;
                margin-top:-10px;
                display: flex;
                align-items: center;

                .block {
                    width: 0%;
                    height: inherit;
                    background: $color-blanco;
                    animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
                    animation-delay: 2s;
                    position: absolute;
                }

                p {
                    -webkit-animation: secFadeIn 2s forwards;
                    -o-animation: secFadeIn 2s forwards;
                    animation: secFadeIn 2s forwards;
                    animation-delay: 3.2s;
                    color:#fff;
                    font-size:2rem;
                    opacity: 0;
                }

            }
        }
    }

    @keyframes mainBlock {
        0% {
            width: 0%;
            left: 0;
        }
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }

    @keyframes mainFadeIn {
        0% {
            opacity: 0;
        }
       
        100% {
            opacity: 1;
        }
    }
    @keyframes secBlock {
        0% {
            width: 0%;
            left: 0;
        }
        50% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }

    @keyframes secFadeIn {
        0% {
            opacity: 0;
        }
       
        100% {
            opacity: 1;
        }
    }
   
}

@media (min-width: 481px) and (max-width: 800px) {
    .portada-imagen {
        .container-titulo {
            background-color: #00000079;
            height: 100%;
            .box-titulo {
                width: 75%;
                margin: 0 auto;
                text-align: center;
                .titulo {
                    height: 100px;
    
                    h1 {
                        font-size: 5rem;
                    }
                }
            
                .role {
                    justify-content: center;
                    p {           
                        font-size:2rem;
                    }
    
                }
            }
        }
    }
}
@media(max-width: 480px) {
    .portada-imagen {
        .container-titulo {
            background-color: #00000079;
            .box-titulo {
                width: 90%;
                margin: 0 auto;
                text-align: center;
                .titulo {
                    height: 84px;
    
                    h1 {
                        font-size: 4.25rem;
                    }
                }
            
                .role {
                    justify-content: center;
                    p {           
                        font-size:1.75rem;
                        text-align: center;
                    }
    
                }
            }
        }
    }
}

/*---------PRODUCTOS--------*/

.productos-index {
    display: grid;
    margin: 0;
    grid-template-columns: 50% 50%;

    img{
        display: flex;
        align-items: center;
        max-width: 100%;
    }

    div {
       display: flex;
       justify-content: center;
       align-items: center;
     
        .texto-index {
            display:flex;
            flex-direction: column;
            max-width:315px;
        }

        p {
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
        }
    }
}

@media (max-width: 767px) {
    .productos-index {
        display: flex;
        flex-direction: column;
        div {
            padding: $padding 0px;
        }
    }
}

/*---------BODEGA---------*/

.bodega-index {
    display: grid;
    margin: 0;
    grid-template-columns: 50% 50%;

    img{
        display: flex;
        align-items: center;
        max-width: 100%;
        order:2;
    }

    div {
        display: flex;
       justify-content: center;
       align-items: center;
       max-width:100%;
     
        .texto-index {
            display:flex;
            flex-direction: column;
            max-width:315px;
        }

        p {
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
        }
        
    }
    
}

@media (max-width: 767px) {
    .bodega-index {
        display: flex;
        flex-direction: column;
        
        img{
        order:-1;
        }
        
        div {
        padding: $padding 0px;
        }

    }
    
}

/*---------RESTAURANTE---------*/

.restaurante-index{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 50% 50%;

    img{
        display: flex;
        align-items: center;
        max-width: 100%;
    }

    div {
        display: flex;
       justify-content: center;
       align-items: center;
     
        .texto-index {
            display:flex;
            flex-direction: column;
            max-width:315px;
        }

        p {
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
        } 
    }
}

@media (max-width: 767px) {
    .restaurante-index {
        display: flex;
        flex-direction: column;

        div {
            padding: $padding 0px;
        }
    } 
}

/*--------------------------*/
/*---------NOSOTROS---------*/
/*--------------------------*/

.imagen-nosotros{
    height: 40vh;  
    background-color: $color-negro;
    background-image: url(../media/portada-nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
}

.secciones-box {
    .gallery-container {
        margin: 70px 0;
        padding: ($padding)*2;
    
        -webkit-box-shadow: 3px 3px 5px 1px rgba(31,30,30,1);
        -moz-box-shadow: 3px 3px 5px 1px rgba(31,30,30,1);
        box-shadow: 3px 3px 5px 1px rgba(31,30,30,1);
        
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 280px;
        grid-gap: 20px;

        .gallery__item:nth-child(4) {
            grid-column-start: span 3;
            order: 1;
        }
        
        .gallery__item:nth-child(1) {
            grid-column-start: span 1;
            order: 2;
         
            align-self: center;
        } 
        
        .gallery__item:nth-child(5) {
            grid-column-start: span 2;
            order: 3;
        }
        
        .gallery__item:nth-child(2) {
            grid-column-start: span 1;
            order: 4;
        
            align-self: center;
        }
        
        .gallery__item:nth-child(6) {
            grid-row-start: span 2;
            order: 5;
        } 
        
        .gallery__item:nth-child(3) {
            grid-column-start: span 1;
            order: 6;
        
            align-self: center;
        } 
        
        .gallery__item:nth-child(7) {
            grid-column-start: span 2;
            order: 7;
        } 

        .gallery__img {
            @include ancho-alto(100%,100%);
            object-fit: cover; /*para que no se deforme la imagen*/
        }

        .nosotros-texto {
            text-align: justify;
        }
    }
}

@media (min-width: 481px) and (max-width:885px) {

    .secciones-box {

        max-width: 650px;
        margin: 10px auto;

        .gallery-container {

            display: flex;
            flex-direction: column;
            padding: ($padding)*2;
            margin: 20px auto;

            .gallery__item:nth-child(1) {
                width: 95%;
            } 
            .gallery__item:nth-child(2) {
                 width: 95%;
            }
            .gallery__item:nth-child(3) {
                 width: 95%;
            } 
          
            .gallery__item:nth-child(4) {
                grid-column-start: span 3;
                order: 1;
            }
            .gallery__item:nth-child(5) {
                grid-column-start: span 2;
                order: 3;
            }
            .gallery__item:nth-child(6) {
                display:none;
            } 
            .gallery__item:nth-child(7) {
                grid-column-start: span 2;
                order: 4;
            } 
        }
    }
}

@media (max-width: 480px) {
    .imagen-nosotros{
        background-image: url(../media/portada-nosotros-320.jpg);
        background-position: center center;
    }
    .secciones-box {

        .gallery-container {

            margin: 10px 0px;
    
            -webkit-box-shadow: 3px 3px 5px 1px rgb(255, 255, 255);
            -moz-box-shadow: 3px 3px 5px 1px rgb(255, 255, 255);
            box-shadow: 3px 3px 5px 1px rgb(255, 255, 255);
    
            display: flex;
            flex-direction: column;
            padding: 0px;

            .gallery__item:nth-child(1) {
               width: 95%;
            } 
            .gallery__item:nth-child(2) {
                width: 95%;
            }
            .gallery__item:nth-child(3) {
                width: 95%;
            }
        }
    }
}

/*--------------------------------*/
/*-------NUESTROS PRODUCTOS-------*/
/*--------------------------------*/

.imagen-productos{
    height: 40vh;
    max-width:100%;  
    background-color: $color-negro;
    background-image: url(../media/portada-productos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

.box-productos {
    max-width: 1100px;
    margin: 30px auto;
    padding:$padding*3 0;
    display: grid;
    grid-template-columns: 29% 71%;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(31,30,30,1);
    -moz-box-shadow: 3px 3px 5px 1px rgba(31,30,30,1);
    box-shadow: 3px 3px 5px 1px rgba(31,30,30,1);  
    .box-titulo-productos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-vinos {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: row wrap;
        figure {
            position: relative;
            height: 320px;
            width:250px;
            overflow: hidden;
            border-radius: 5px;
            margin: 5px 10px;
            img {
                width:100%;
                height: 100%;
                transition: all 500ms ease-out;
            }
            .capa {
                position: absolute;
                top: 0;
                width:100%;
                height: 100%;
                background-color: rgba($color-negro,.8);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align:center;
                .secciones-h2{
                    text-transform: uppercase;
                    color: $color-blanco;
                    border-bottom: 2px solid $color-vino;                       
                    font-weight: 400px;
                    font-size: 2.4em;
                    margin-bottom: 120px;
                    transition: all 500ms ease-out;
                    margin-top: 0px;
                }
                p{
                    color: $color-blanco;
                    width: 100%;
                    max-width: 220px;
                    margin: auto;
                }
            }
        }
        figure:hover > .capa{
            opacity:1;
            visibility: visible;
        }
        figure:hover > img{
            transform: scale(1.3);
        }
        figure:hover > .capa .secciones-h2{
            margin-top: 50px;
            margin-bottom: 15px;
        }
           
    }
}
.box-productos-rosados{
    @extend .box-productos;
    margin-top:50px;
    margin-bottom:50px;
    grid-template-columns: 71% 29%;
    .box-titulo-productos{
        order:2;
    }   
}

/*Preguntas frecuentes*/
.width-preguntas {
    max-width:1100px;  
    .accordion {
        .accordion-item {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.125);
            .accordion-header {
                .accordion-button{
                    font-size: 1.5rem !important; 
                    color: $color-oscuro;
                    background-color: $color-blanco;
                    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 10000s ease-in-out, box-shadow 10000s ease-in-out, border-radius 0.15s ease;
                }
                .accordion-button:not(.collapsed) {
                    color: $color-blanco;
                    background-color: $color-oscuro;
                }
                .accordion-button:not(.collapsed)::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                }
            }
        }
    }
}

@media (min-width:481px) and (max-width: 767px) {
    .box-productos {
        max-width: 100%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 100%;
    
        .box-titulo-productos{
            .secciones-h2 {
                margin: 0 auto 10px auto;
                letter-spacing: 5px;
                .subrayado{
                    border: none;
                    padding:0px;
             } 
            }
        }
        .contenedor-vinos {
            figure {
                .capa {
                    p{
                        max-width: 180px;
                    }
                }
            }
        }
    }    
}
@media (max-width: 767px) {
    .box-productos-rosados{
        .box-titulo-productos{
            order:-5;
        }
    }
}
@media (max-width: 480px) {
    .imagen-productos{
        background-image: url(../media/portada-productos-320.jpg);
    }  
    .box-productos {
        max-width: 100%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: 100%;
    
        .box-titulo-productos{
            .secciones-h2 {
                margin: 0 auto 10px auto;
                letter-spacing: 5px;
                .subrayado{
                    border: none;
                    padding:0px;
             } 
            }
        }
        .contenedor-vinos {
            figure {
                .capa {
                    p{
                        max-width: 150px;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    } 
    .width-preguntas {
        width: 99%;  
        .accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button{
                        font-size: 1.1rem !important;
                    }
                }
            }
        }
    } 
}

/*--------------------------*/
/*----------BODEGA----------*/
/*--------------------------*/

.imagen-bodega{
    height: 40vh;  
    max-width:100%;
    background-color: $color-negro;
    background-image: url(../media/portada-bodega.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bodega-texto {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    font-size: 1.3em;
}

.galeria {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 150px; /*alto de las filas*/

    margin: 10px 0px 0px 0px;

    .galeria_item {
        position: relative;

        .galeria_img {
            @include ancho-alto(100%,100%);
            object-fit:cover;
        }
    }
}

@media (max-width: 480px) {
    .imagen-bodega{
        background-image: url(../media/portada-bodega-320.jpg);
    }
    .bodega-texto {
        width: 95%;
    }

    .galeria {
        grid-template-columns:repeat(2, 1fr);
    }
}

/*-----------------------------*/
/*---------RESTAURANTE---------*/
/*-----------------------------*/

.imagen-restaurante{
    height: 40vh;  
    max-width:100%;
    background-color: $color-negro;
    background-image: url(../media/portada-restaurante.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.descripcion {
    h2 {
    color: $color-vino;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    }
}

@media (min-width:575px) and (max-width:1199px) {
    main {
        .container {
            width:100%;
            max-width:700px;
        }
    }   
}

@media (max-width:767px){
    .descripcion {
        h2 {
            margin-top:10px;
        }
    }
}
@media(max-width:480px){
    .imagen-restaurante{
        background-image: url(../media/portada-restaurante-320.jpg);
        background-position: center center;
    }
}


/*--------------------------*/
/*---------CONTACTO---------*/
/*--------------------------*/

.imagen-contacto {
    height: 40vh;  
    background-color: $color-negro;
    background-image: url(../media/portada-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}

.flex-contacto {
    max-width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns:35% 65%;
    
    form {
        @include ancho-alto(90%,auto);
        border: solid 1px $color-gris;
        border-radius: 5px;
        padding: $padding;
        margin: 15px auto;
        text-align: center;
        color: $color-vino;

        .form-control:focus {
            color: $color-oscuro;
            background-color: $color-blanco;
            border-color: #312f308f;
            outline: 0;
            box-shadow: 0 0 0 0.25rem #312f308f;
        }

        .div-boton-contacto {
            display: flex;
            justify-content: right;
            margin: 10px 0px;
        }
    }

    .mapa {
        background-color: $color-oscuro;
    }
}

@media (max-width: 886px) {

    .flex-contacto {
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 100%;      
        .mapa {
            height: 50vh;
        }
    }
}

@media (max-width: 480px) {
    .imagen-contacto {
        background-image: url(../media/portada-contacto-320.jpg);
    }
}